/*Chart colors*/

.yellow1{color:#403B00;}
.yellow2{color:#807600;}
.yellow3{color:#FFEC00;}
.yellow4{color:#FFF799;}
.yellow5{color:#FFFBCC;}

.orange1{color:#331F02;}
.orange2{color:#673F05;}
.orange3{color:#CE7D09;}
.orange4{color:#D8973A;}
.orange5{color:#EBCB9D;}

.red1{color: #401819;}
.red2{color: #803133;}
.red3{color: #FF6165;}
.red4{color: #FFA0A3;}
.red5{color: #FFDFE0;}

.green1{color: #0A2C27;}
.green2{color: #15574D;}
.green3{color: #01f7b6;}
.green4{color: #7FCEC2;}
.green5{color: #D4EFEB;}

.blue1{color: #051427;}
.blue2{color: #09284E;}
.blue3{color: #12509B;}
.blue4{color: #7196C3;}
.blue5{color: #D0DCEB;}



.yellow1-bg{background-color:#403B00;}
.yellow2-bg{background-color:#807600;}
.yellow3-bg{background-color:#FFEC00;}
.yellow4-bg{background-color:#FFF799;}
.yellow5-bg{background-color:#FFFBCC;}

.orange1-bg{background-color:#331F02;}
.orange2-bg{background-color:#673F05;}
.orange3-bg{background-color:#CE7D09;}
.orange4-bg{background-color:#D8973A;}
.orange5-bg{background-color:#EBCB9D;}

.red1-bg{background-color: #401819;}
.red2-bg{background-color: #803133;}
.red3-bg{background-color: #FF6165;}
.red4-bg{background-color: #FFA0A3;}
.red5-bg{background-color: #FFDFE0;}

.green1-bg{background-color: #0A2C27;}
.green2-bg{background-color: #15574D;}
.green3-bg{background-color: #01f7b6;}
.green4-bg{background-color: #7FCEC2;}
.green5-bg{background-color: #D4EFEB;}

.blue1-bg{background-color: #051427;}
.blue2-bg{background-color: #09284E;}
.blue3-bg{background-color: #12509B;}
.blue4-bg{background-color: #7196C3;}
.blue5-bg{background-color: #D0DCEB;}



/* your code here | this overwrites foundation */

body{
	background-color: #fff;
}

h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 400%;
}

@media only screen and (max-width: 40em) {
  h1{
    font-size: 200%;
  }
  .PQText{
  font-family: 'Playfair Display', serif!important;
  /*font-weight: 700;*/
  font-size: 120%!important;
  font-style: italic;
  }
  .quoteAttr{
  font-family: 'Playfair Display', serif!important;
  /*font-weight: 700;*/
  font-size: 120%!important;
  font-style: italic;
  }
  .pullQuoteimage{
    padding-bottom: 110px!important;
  }

  .headimg{
  max-width: 100%;
  padding-bottom: 0px!important;
  }

  img{
    padding-top: 10px;
  }
}



h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: white;
}

.headimg{
max-width: 100%;

padding-bottom: 30px;
}

.photoAttr{
  text-align: right;
  font-size: 100%;
  color: #7f7f7f;
  padding-right: 20px;
  text-transform: uppercase;

}

.photoCaption{
  text-align: left;
  font-size: 100%;
  color: #7f7f7f;
  padding-right: 20px;
  /*text-transform: uppercase;*/
}

.labelrow{
  position: absolute;
  bottom: 28%;
  left: 5%;
}

.columns{
  position: relative;
}

p{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

p.firstPara::first-letter {
    font-size: 200%;
}

.pageBreak{
  text-align: center;
  font-size: 200%;
}

.pullQuoteimage{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pullQuote{
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.PQText{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 175%;
  font-style: italic;
}

.quoteAttr{
  font-family: 'Playfair Display', serif;
  font-size: 125%;
  font-style: italic;
}

.lastP{
  padding-bottom: 20px;
}
hr{
  border-top: 8px solid black;
}

#sidebarHed{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: black;
  text-align: center;
  padding-bottom: 15px;
}

td, #select{
  font-family: 'Oswald', serif;
}

.source{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

.sourcelink{
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: black;
}

.sourcelink:hover{
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: black;
}