<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Burial: Being Green in Life, Now in Death Too</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Brandon Shaik" />
    <meta name="geo.country" content="US" />
    <meta name="dc.language" content="en" />
    <meta name="description" content="Today, recycled clothing and paper products are commonplace, electricity powered vehicles can be purchased by the middle class. In 2006, only 30,000 U.S. homes had solar panelling, which cost $9 per watt. Today, over 1 million homes have solar panelling at an average of $3 per watt, or about $12,500 per home. For environmentally minded individuals, natural cemeteries are the next progression of sustainability — reducing an individual impact even after death." />
    <meta name="keywords" content="Natural Burial, Green Burial, Environmentalism, Cremation, Death, Funeral" />

    <meta property="og:site_name"       content="Natural Burial: Being Green in Life, Now in Death Too"/>
    <meta property="og:image"           content="images/headline_social.JPG" />
    <meta property="og:description"     content="Nearly 80 million baby boomers are reaching the end of their lives. Being more environmentally conscious than previous generations, many are choosing natural cemeteries as the next progression of sustainability — reducing an individual impact even after death."/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="800" />
    <meta property="article:publisher" content="https://brandonshaik.github.io/capstone/" />

    <!--  This information will show up when your site gets shared on Twitter -->
    <meta name="twitter:card" content="images/headline_social.JPG">
    <meta name="twitter:site" content="@brandonshaik">
    <meta name="twitter:description" content="Nearly 80 million baby boomers are reaching the end of their lives. Being more environmentally conscious than previous generations, many are choosing natural cemeteries as the next progression of sustainability — reducing an individual impact even after death.">
    <meta name="twitter:creator" content="Brandon Shaik">
    <meta name="twitter:image:src" content="images/headline_social.JPG">
    <meta name="twitter:domain" content="https://brandonshaik.github.io/capstone/">

    <!-- Load fonts -->

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Playfair+Display:400,400i,700,700i" rel="stylesheet">


    <!-- Foundation styles -->
    <link rel="stylesheet" href="css/foundation.css">
    <!-- Your styles, which can override foundation -->
    <link rel="stylesheet" href="css/app.css">

  </head>
  <body>

    <div class="row headimg collapse">

      <div class="large-12 columns">
        <div class = "row labelrow">
          <div class = "large-6 medium-6 small-12 columns">
            <h1>Natural Burial: Being Green in Life, Now in Death Too</h1>
            <h2>By Brandon Shaik</h2>
          </div>
        </div>
      <img src = "images/headline.JPG">
      <p class = "photoAttr">Photo By Brandon Shaik</p>
      </div>
    </div>



    <div class="row">
      <div class="large-8 large-centered medium-8 medium-centered columns">

        <p class ="firstPara">Until this year, Bruce Johnson planned on being cremated after he died. Environmentally minded, he didn’t want to take up too much space in the earth. Then he discovered something called “natural burial.”</p>


        <p>Johnson had heard about Greensprings Natural Cemetery in Ithaca, a lush wooded preserve 230 miles north of New York City. Rejecting conventional burial practices and protocol, natural cemeteries offer a place to be buried without embalming or caskets.</p>


        <p>Intrigued, Johnson started volunteering there after a neighbor told him they needed help digging graves.</p>


        <p>“Part of the volunteering was you got to be a fly on the wall during the actual burials, the rituals and the different ceremonies that people do,” he said. “Once I saw it in person, then it sort of lifted all that mystery of it and it just really had a nice natural good feeling to it.”</p>


        <p>Then he made a deal that would kick in after he died. While he was volunteering, Greensprings realized it needed a new lawn mower big enough to trim its meadow. Eager to spend his eternity there, Johnson bartered with Greensprings — he would get the mower and do the job in exchange for a plot. The owner agreed.</p>

        <img src ="images/stone.JPG">
         <p class = "photoCaption">A headstone in Sleepy Hollow Cemetery's natural burial grounds in Sleepy Hollow, New York / PHOTO BY BRANDON SHAIK</p>


        <p>When it opened in 2006, Greensprings was one of six natural cemeteries in the United States. Today there are over 300 cemeteries operating in 41 states and six Canadian provinces. </p>


        <p>Kate Kalanick, Executive Director of Green Burial Council, believes that with the increased awareness of green burial, more Americans are turning to this alternative method of burial, rejecting conventional practices of embalming or cremation. </p>


        <p>“We have an upcoming demise, so to speak, of about 80 million baby boomers,” Kalanick said. “That is a generation that in many ways has been more environmentally aware and conscious than maybe previous generations have been. I would say that’s a huge driving force in this trend.”</p>


        <p class="pageBreak">• • </p>


        <p class="firstPara">In the 1960s, as the counter-culture bloomed and anti-Vietnam war protests spread, another movement was born: Environmentalism. Scientists like Rachel Carson and Paul Ehrlich shined a light on ecological threats — the industrial poisoning of rivers, air and wildlife. Environmental activists formed national groups to advocate for the protection and conservation of the environment, and they began to see their efforts create change.</p>


        <p>The Clean Air Act was passed in 1962, regulating air pollution, followed by the Wilderness Act of 1964 which set aside public land for preservation. Throughout the 1960s and 70s, further legislation was passed protecting rivers, endangered species and parks and clean water.</p>


        <p>An ethos of environmental sustainability took hold, leading to practices that became mainstream in the late twentieth century. Recycling programs were implemented in suburban communities; corporate retailers encouraged shoppers to reuse plastic bags — later producing their own shopping bags made of recycled materials; cities promoted public transportation. </p>


        <p>In recent years, environmentally conscious Americans started thinking about sustainability on a personal level, focusing on what they could do to reduce their carbon footprint — a measure of personal impact on the environment based on consumption of energy, fossil fuels and natural resources. </p>


        <p>Today, recycled clothing and paper products are commonplace, electricity powered vehicles can be purchased by the middle class. In 2006, only 30,000 U.S. homes had solar panelling, which cost $9 per watt. Today, over 1 million homes have solar panelling at an average of $3 per watt, or about $12,500 per home. For environmentally minded individuals, natural cemeteries are the next progression of sustainability — reducing an individual impact even after death.</p>


        <p class = "pageBreak">• •</p>


        <p class = "firstPara">Although natural burial seems like a modern innovation, it’s actually a practice that pre-dates the Civil War. Embalming was not common in the U.S. until the late 1800s when soldiers left home to fight in the war. Those who died on the battlefield needed to be preserved so they could be taken home and buried in their hometown cemeteries. </p>


        <p>This was when the role of the embalmer was created, although cemeteries were still “natural” at that time — meaning that the body was placed in a simple casket and buried in a grave. It wasn’t until the 1950s that cemeteries began putting concrete vaults in the graves to prevent the ground from sinking after the casket decomposed. Cemeteries became manicured lawns with monolithic headstones and large marble mausoleums, as opposed to the simple churchyards that previously existed.</p>


        <p>In natural cemeteries like Greensprings, the deceased is not embalmed, contrary to conventional funerary practices. Instead, the body is placed in a shroud made of natural fibers like cotton, linen or wool, or places in a natural wooden casket. The body is simply placed in a grave, with a flat stone placed at the head of the grave.</p>

         <img src ="images/grave.JPG">
         <p class = "photoCaption">A recent burial at Sleepy Hollow Cemetery's natural burial grounds in Sleepy Hollow, New York / PHOTO BY BRANDON SHAIK</p>


        <p>“I tour a lot of natural burial grounds and I tour a lot of conventional cemeteries,” Kalanick said. “I could live on a natural burial ground. You're not shrouded in death when you’re walking through it, you’re shrouded in life. There are birds, bees, plants, animals, there are people walking their dogs on the trails, it’s absolutely beautiful. There isn’t that sort of immediate visual of headstones and darkness and death.”</p>


        <p>Jennifer Johnson, Burial Coordinator at Greensprings, became interested in starting a natural cemetery in 1999 while talking to some friends about how expensive funerals had become and she was dissatisfied with what conventional cemeteries and burials had become and wanted to create something new.</p>


        <p>She also wanted to educate people about the environmental cost of embalming. </p>


        <p>Each year over 800,000 gallons of embalming fluid seeps into the ground. The fluid is often based with formaldehyde, a highly toxic and carcinogenic chemical, which makes the soil unviable for plants and animals.</p>


        <p>The burial practices and upkeep of Greensprings cemetery take a very different approach to death.</p>


        <p>“We don’t use any chemicals on the property at all and if people come in July or August they know that they’ll have to walk through some tall grass because we don’t mow the areas until all the ground nesting birds have left and that’s in September or October,” Johnson said. “That saves on emissions, fossil fuels and pollution.”</p>


        <p>That attitude is shared by an increasing number of people. A 2015 poll conducted by Harris Poll on behalf of the Funeral and Memorial Information Council found that 64 percent of adults over the age of 40 were interested in natural burial, up from 21 percent in 2010.</p>


        <p>“I think that the trend will continue,” Kalanick said. “As we all know, each generation becomes more aware than the previous one in regard to our knowledge and access to information.”</p>


        <p>But Kalanick also noted that a great deal of baby boomers are choosing cremation, correctly believing that it’s more environmentally friendly than conventional burial. </p>


        <p>Cremation eliminates the environmentally damaging elements associated with conventional burial such as non-biodegradable caskets, chemical leaching, and the heavy use of herbicides, pesticides and water on cemetery grounds. However, cremation still has a significantly negative impact on the environment.</p>


        <p>For an average cremation the crematory must be heated to about 1,600 degrees Fahrenheit, which requires about 28 gallons of fuel. In context, the average car with a 23 mile per gallon fuel efficiency could drive about 644 miles, producing roughly 540 pounds of carbon dioxide emissions. </p>
      </div>
    </div>

    <div class="row">
      <div class = "large-8 large-centered medium-8 medium-centered columns">
        <div class = "row pullQuote">
          <div class = "large-12 large-centered medium-12 medium-centered small-12 columns">
                <p class="PQText">"I could live on a natural burial ground. You're not shrouded in death when you’re walking through it, you’re shrouded in life."</p>
                <p class ="quoteAttr">Kate Kalanick, Executive Director of Green Burial Council</p>
          </div>
        </div>
        <img class="pullQuoteimage" src="images/pullquote.png">
      </div>
    </div>

    <div class="row">
      <div class="large-8 large-centered medium-8 medium-centered columns">

        <p>Gundy Lee, like Bruce Johnson, chose cremation for herself thinking it was the better eco-conscious choice. But once she too started volunteering with Greensprings, she learned about cremation’s environmental downsides. Then, Lee became captivated by the beauty of the property and the idea of returning to the earth.</p>


        <p>“I love birding, I love wild flowers and hiking and nature,” Lee said. “I just loved the whole concept. So I picked out a plot for myself.”</p>


        <p>About a year after purchasing her plot, Lee was scheduled to volunteer for an open house one day. As she walking out the door, she grabbed her binoculars and headed for the cemetery. No one showed that day for the open house, so she found herself sitting in the cemetery, watching and listening to the birds. “It was so delightful,” she recalled. “And I thought, ‘this is the place I’m going to be.’ It was such a good feeling.”</p>

        <img src ="images/wreath.JPG">
         <p class = "photoCaption">A wreath placed on a grave at Sleepy Hollow Cemetery's natural burial grounds in Sleepy Hollow, New York / PHOTO BY BRANDON SHAIK</p>


        <p>Like many of the natural cemeteries across the country, Greensprings is also a certified wildlife habitat and nature preserve — a concept that attracts nature lovers like Lee. </p>


        <p>Recently, they ended a four year long grant that allowed them to rehabilitate 130 acres of milkweed, an essential plant for caterpillars which eventually cocoons itself, reemerging as the beautiful monarch butterfly. Additionally, the facility mows its lawns only once a year, providing a habitat for ground nesting birds such as meadowlarks, bobolinks and sparrows.</p>

      </div>
    </div>

    <div class="row">
      <div class = "large-8 large-centered medium-8 medium-centered columns">
        <div class = "row pullQuote">
          <div class = "large-12 large-centered medium-12 medium-centered small-12 columns">
                <p class="PQText">“It was great to find that species from different types of pristine ecosystems got established in cemetery habitats.”</p>
                <p class ="quoteAttr">Ingo Kowarik, professor of Ecology at the Technische Universität Berlin</p>
          </div>
        </div>
          <img class="pullQuoteimage" src="images/pullquote.png">
      </div>
    </div>
    <div class="row">
      <div class="large-8 large-centered medium-8 medium-centered columns">

        <p>An article published earlier this year in the journal Urban Forestry and Urban Greening examined a natural cemetery in Berlin, Germany, similar to the ones found in the U.S., and discovered an ecosystem rich in biodiversity, with 604 unique species. </p>


        <p>“It was fascinating to see that habitat diversity within the cemetery translates to biological richness,” said lead author Ingo Kowarik, professor of Ecology at the Technische Universität Berlin. “It was great to find that species from different types of pristine ecosystems got established in cemetery habitats.”</p>


        <p>The study attributes this species richness to the lack of human intervention, a stark contrast to the cemeteries often found in the U.S.</p>


        <p>“Sometimes the mowing can be too intense where it really suppresses some of these native plants that might have grown there,” said Matthew Pace, Assistant Curator of the New York Botanical Garden Herbarium. “[biodiversity richness] depends on the intensity of the management of the site and whether or not sites are allowed to go a little bit more, what we might call ‘wild,’ as opposed to a manicured lawn.”</p>


        <p>For Gundy Lee, it feels good knowing that in death, she is also helping to preserve nature in a way that allows wildlife to thrive.</p>


        <p class="lastP">“I do try to live and be careful of the environment,” she said. “I think sitting there watching the birds kind of confirmed it to me that I made the right choice.”</p>

        <p class = "pageBreak">• •</p>

        <h2 id="sidebarHed">How much does a funeral cost?</h2>
         <!-- Drop down menu -->

          <select id="select">

          </select>

        <!-- create table -->

        <table id = "results-table">
            <tbody>
              <thead>
                <td></td>
                <td>Cost</td>
              </thead>
              <tr>
                <td class = "table-label">Conventional Burial</td>
                <td class = "table-data-container conventional"></td>
              </tr>
              <tr>
                <td class = "table-label">Natural Burial</td>
                <td class = "table-data-container natural"></td>
              </tr>
            </tbody>
          </table>
          <p class="source">Source: <a class="sourcelink" href="http://www.nfda.org/news/statistics">National Funeral Directors Association</a></p>

        <hr>

      </div>
    </div>


    <!-- create underscore template for table -->

   <script id="tableTemplate" type="text/template">
          <tbody>
            <thead>
                <td></td>
                <td>Cost</td>
            </thead>
            <tr>
              <td class = "table-label">Conventional Burial</td>
              <td class = "table-data-container"><%= obj.conventional %></td>
            </tr>
            <tr>
              <td class = "table-label">Natural Burial</td>
              <td class = "table-data-container 2013"><%= obj.natural %></td>
            </tr>
          </tbody>
    </script>

    <!--load data -->

    <script src = "js/data/data.js"></script>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script src ="js/vendor/underscore.js"></script>

  </body>
</html>
